body {
    background-image: url("../assets/home/background-home-mobile.jpg");
}



/* HERO SECTION */

.main-heading {
    font-family: var(--font-bellefair);
    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
    margin: 14px;
    text-align: center;
    font-weight: 400;
}

.sub-heading {
    color: var(--color-lavender-blue);
    font-family: var(--font-barlow-condensed);
    font-size: 16px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-top: 47px;
    text-align: center;
    font-weight: 400;
}

.description {
    color: var(--color-lavender-blue);
    font-family: var(--font-barlow);
    font-size: 15px;
    line-height: 25px;
    margin-top: 14px;
    text-align: center;
}



/* ACTION BUTTON */

.action-button {
    position: relative;
    background-color: white;
    width: 150px;
    margin-top: 79px;
    /* aspect-ratio: 1; */
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 10.36%;
    z-index: -1;
    transition: width 0.25s, height 0.25s;
}

.action-button:hover::after {
    width: 250px;
    height: 250px;
}

.action-button-text {
    color: var(--color-rich-black);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-bellefair);
    font-size: 20px;
}





/* TABLET DESTIGN */

@media screen and (min-width: 768px) {

    body {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }

    .sub-heading {
        margin-top: 112px;
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .main-heading {
        margin: 0;
        margin-top: 42px;
        font-size: 150px;
        line-height: 150px;
        
    }

    .description {
        margin-top: 64px;
        width: 444px;
        font-size: 16px;
        line-height: 28px;
    }

    .action-button{
        width: 242px;
        height: 242px;

    }

    .action-button-text{
        font-size: 32px;
        letter-spacing: 2px;
    }


}