body {
    background-color: black;
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-blend-mode: lighten;
}



/* PAGE HEADING */

.page-heading {
    margin-top: 29px;
}

.page-heading span {
    font-family: var(--font-barlow-condensed);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-size: 16px;
}

.page-heading-no {
    font-weight: 700;
    opacity: 25%;
}

.page-heading-text {
    font-weight: 400;
}


.technology-image {
    margin-top: 35px;
    width: 100vw;
    height: auto;
}

.technology-list-circles {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    padding: 0;
    margin-top: 34px;
    margin-bottom: 30px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 25%);
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-circle {
    opacity: 1;
    background-color: white;
    color: black;
}


.font-bellafair {
    font-family: var(--font-bellafair);
    text-transform: uppercase;
}

.technology-subheading {
    font-size: 14px;
    letter-spacing: 2.36px;
    font-family: var(--font-barlow-condensed);
    color: var(--color-lavender-blue);
    text-transform: uppercase;
}

.technology-heading {
    font-size: 24px;
    margin-top: 16px;
    font-weight: 400;
}

.technology-desc {
    font-size: 15px;
    font-family: var(--font-barlow);
    color: var(--color-lavender-blue);
    line-height: 25px;
    text-align: center;
    margin-top: 30px;
}



/* TABLET DESTIGN */

@media screen and (min-width: 768px) {

    body {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }

    .page-heading-text,
    .page-heading-no {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .page-heading {
        align-self: flex-start;
        margin-top: 46px;
    }

    .technology-image {
        width: 100vw;
        height: auto;
    }

    .technology-list-circles {
        margin-top: 56px;
        margin-bottom: 0;
    }

    .circle {
        width: 60px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 1.5px;
    }

    .technology-subheading {
        margin-top: 44px;
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .technology-heading {
        margin-top: 16px;
        font-size: 40px;
    }

    .technology-desc {
        margin-top: 16px;
        font-size: 16px;
        line-height: 28px;
        width: 458px;
        margin-bottom: 97px;
    }

}